.xMDeox {
    position: relative;
    flex-grow: 1;
    width: 80%;
    box-sizing: border-box;
    margin-left: 1.6875rem;
    min-width: 0;
    background: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
    border-radius: 0.125rem;
    left: 9%;
    margin-bottom: 50px;
  }
  .\--tO6n {
    min-height: 740px;
    background: #f5f5f5;
    box-shadow: 0 0 0 2px #f5f5f5;
  }
  .AJo2nP {
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
    .mbaGbp {
        padding: 12px 24px;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .FbLutl{
          width: 100%;
        }
        .KrPQEI {
            padding: 0 0 12px;
            justify-content: space-between;
        }   
        .tjM0Qz {
            background: #f7fffe;
            border: 0.5px solid rgba(48,181,102,.35);
        }
        ._3VbM7s {
            padding: 10px 15px;
            margin: 10px 0 0;
            background: #f5f5f5;
            border: 0.5px solid rgba(0,0,0,.09);
        }
        .SbXhyL {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        ._7w0r1r {
            padding: 6px 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            line-height: 14px;
        }
        .x7nENX {
            word-wrap: break-word;
            display: flex;
        }        
        .aybVBK {
            padding: 0 12px 0 0;
            flex: 1;
            align-items: flex-start;
            flex-wrap: nowrap;
        }
        ._9UJGhr {
            text-align: right;
        }
    }
  }
  .cBtCqV {
    padding: 20px 24px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .yO9lYJ {
      display: flex;
      margin-right: 16px;
      color: rgba(0, 0, 0, 0.54);
    }
    .yO9lYJ > svg {
      height: 16px;
      margin: 0 5px 0 0;
      font-size: 14px;
    }
    .w8MDQX {
      display: flex;
      text-align: right;
      .EkDKzu {
        margin: 0 16px;
      }
      .capx2D {
        color: #ee4d2d;
        text-transform: uppercase;
      }
    }
  }
  .O2KPzo {
    width: 100%;
    height: 0;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.09);
    position: relative;
    .xFSVYg {
      left: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .EfbgJE {
      right: 0;
      -webkit-transform: translate(50%, -50%);
      transform: translate(50%, -50%);
    }
  }
  .bHBbO4 {
    padding: 40px 24px;
    .stepper {
      position: relative;
      justify-content: space-between;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      flex-wrap: nowrap;
      display: flex;
      .stepper__step {
        width: 140px;
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
        z-index: 1;
      }
      .stepper__line {
        position: absolute;
        top: 29px;
        height: 4px;
        width: 100%;
      }
    }
  }
  .TX9IwS {
    background-color: #fafafa;
  }
  .cmp831 {
    padding: 3px 0;
    .DM1xQK {
      height: 0.1875rem;
      width: 100%;
      background-position-x: -1.875rem;
      background-size: 7.25rem 0.1875rem;
      background-image: repeating-linear-gradient(45deg, #6fa6d6, #a7bd23 33px, transparent 0, #ee4d2d 41px, #0068ff 0, #f18d9b 74px, #804d4d 0, #2d1414 82px);
    }
  }
  .mu8SJw {
    padding: 20px 24px 24px;
    ._0Ihttg {
      padding: 0 0 12px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .PW9gQm {
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.8);
        font-size: 20px;
        line-height: 24px;
      }
      .P9zS\+I {
        display: flex;
        align-items: flex-start;
        line-height: 14px;
        max-width: 50%;
        .g5X7\+k {
          text-align: right;
          font-size: 12px;
          word-wrap: break-word;
          color: rgba(0, 0, 0, 0.54);
        }
      }
    }
    .wMj1t2 {
      display: flex;
      .iWu\+Gv {
        max-width: 100%;
        padding: 10px 24px 0 0;
        line-height: 22px;
        flex: 1;
        .KZmoHt {
          max-width: 100%;
          margin: 0 0 7px;
          overflow: hidden;
          text-overflow: ellipsis;
          color: rgba(0, 0, 0, 0.8);
        }
        .AnJAa1 {
          color: rgba(0, 0, 0, 0.54);
          font-size: 12px;
          white-space: pre-line;
        }
      }
      .ifE\+r- {
        width: 620px;
        padding: 4px 0 0 12px;
        border-left: 1px solid rgba(0, 0, 0, 0.09);
        .rqUx-N {
          position: relative;
          display: flex;
          align-items: flex-start;
          padding: 0;
          grid-gap: 12px;
          gap: 12px;
          ._4yfsbS {
            width: 1px;
            height: 100%;
            position: absolute;
            top: 12px;
            left: 12px;
            background: #d8d8d8;
          }
          .cuJgPF .JNurwA {
            color: #26aa99;
          }
          .rVemEI {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;
            width: 24px;
            min-width: 24px;
          }
          .rVemEI .AXDO-g {
            position: relative;
            height: 24px;
            width: 24px;
            z-index: 2;
          }
          .B3MLEe {
            width: 200px;
            margin-top: 3px;
            flex-shrink: 0;
            color: rgba(0, 0, 0, 0.8);
            padding: 0 12px;
          }
          .u4VSsO p._0P1byN {
            font-weight: 700;
            margin-bottom: -2px;
          }
          .u4VSsO p {
            word-wrap: break-word;
            line-height: 20px;
            margin: 1px 0 8px;
          }
        }
        .yG4MyU {
          color: #05a;
          font-weight: 700;
          padding-left: 170px;
          cursor: pointer;
        }
      }
    }
  }
  .tjM0Qz {
    background: #f7fffe;
    border: 0.5px solid rgba(48,181,102,.35);
}
._3VbM7s {
    padding: 10px 15px;
    margin: 10px 0 0;
    background: #f5f5f5;
    border: 0.5px solid rgba(0,0,0,.09);
}
.RZJjTX {
    background-color: #fafafa;
    border-top: 1px solid rgba(0,0,0,.09);
    .TokOv1 {
        padding: 0 24px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-align: right;
        border-bottom: 1px dotted rgba(0,0,0,.09);
        ._8kMYJ3 {
            padding: 13px 10px;
            color: rgba(0,0,0,.54);
            font-size: 12px;
            
        }
        .CxyZBG {
            padding: 13px 0 13px 10px;
            width: 240px;
            border-left: 1px dotted rgba(0,0,0,.09);
            justify-content: flex-end;
            word-wrap: break-word;
            color: rgba(0,0,0,.8);
        }

    }
}
.TX9IwS {
    background-color: #fafafa;
}
._8kMYJ3 {
    padding: 13px 10px;
    color: rgba(0,0,0,.54);
    font-size: 14px;
}
